{% extends "layout.html" %}
{% block content %}
<h3>Docked: {{ docked }}</h3>
<i class="fas fa-meteor"></i>
<br>
<i class="fas fa-child"></i>
<br>
<i class="fas fa-satellite"></i>
{% endblock %}
