<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<script src="https://kit.fontawesome.com/{{ font_awesome_js }}" crossorigin="anonymous"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
